@charset "UTF-8";
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-regular.eot");
  src: url("../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.ttf") format("truetype"), url("../fonts/gilroy-regular.svg#gilroy-regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Neue-Consended';
  src: url("../fonts/HelveticaNeue-CondensedBold.eot");
  src: local("☺"), url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff"), url("../fonts/HelveticaNeue-CondensedBold.ttf") format("truetype"), url("../fonts/HelveticaNeue-CondensedBold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-semibold.eot");
  src: url("../fonts/gilroy-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.ttf") format("truetype"), url("../fonts/gilroy-semibold.svg#gilroy-semibold") format("svg");
  font-weight: 600;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Helvetica-Neue';
  color: #443e3e; }

img {
  display: block; }

.section-inner {
  margin: 0 auto;
  max-width: 1330px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

.button {
  font-family: 'Helvetica-Neue-Consended';
  border: none;
  border-radius: 27px;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  font-stretch: expanded;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: 0.1s ease-in-out; }
  .button:hover {
    color: #cdcddf; }
  .button--blue {
    background-color: #205CA8; }
  .button--blue-lighter {
    background-color: #0295DA; }

.button--blue-lighter:hover {
  background-color: #1878a5; }

.button--blue:hover {
  background-color: #274f83; }

.title {
  font-family: 'Helvetica-Neue-Consended';
  font-weight: 700;
  text-transform: uppercase; }
  .title--white {
    color: #26538d; }
  .title--blue {
    color: #205CA8; }

.burger-background {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 70;
  width: 0;
  height: 100vh;
  background-color: #fff;
  transition: 0.2s ease-in-out;
  border-radius: 0% 100% 0% 100% / 30% 0% 100% 70%; }

@media (max-width: 1220px) {
  .burger-background-width {
    width: 300px; } }

.section-header-outer-button {
  display: none; }

@media (max-width: 1220px) {
  .section-header-outer {
    width: 100%; }
    .section-header-outer-wrapper {
      position: relative;
      display: flex;
      z-index: 10;
      justify-content: space-between;
      align-items: center;
      height: 60px; }
    .section-header-outer-button {
      display: block;
      margin-left: 15px;
      padding: 14px 33px; }
    .section-header-outer .section-header {
      position: absolute;
      overflow: hidden;
      top: 370px;
      width: 100%;
      z-index: 100; }
      .section-header-outer .section-header-registration {
        transition-delay: 0.2s;
        transition: transform 0.2s ease-in-out;
        transform: translateX(300px); }
      .section-header-outer .section-header-info {
        margin-bottom: 16px;
        transition-delay: 0.2s;
        transition: transform 0.2s ease-in-out;
        transform: translateX(300px); }
    .section-header-outer .section-links {
      visibility: hidden;
      position: absolute;
      overflow: hidden;
      top: 80px;
      z-index: 100;
      width: 100%;
      transition-delay: 0.2s; }
    .section-header-outer .burger {
      position: relative;
      margin-right: 15px;
      display: block;
      z-index: 102;
      transform: translateY(-70%); }
    .section-header-outer .visibility--visible {
      visibility: visible;
      transition-delay: 0s; } }

.burger {
  position: relative;
  display: none;
  align-self: flex-end;
  width: 32px;
  height: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .burger .bar {
    position: absolute;
    right: 0;
    width: 32px;
    height: 3px;
    background-color: #000; }
  .burger #bar1 {
    top: 0;
    transition: transform 0.2s ease-in-out; }
  .burger .bar1-active {
    transform: matrix(0.85, 0.85, -0.71, 0.71, -1, 10); }
  .burger #bar2 {
    top: 9px;
    transform-origin: center;
    transition: transform 0.1s ease-in-out; }
  .burger .bar2-active {
    transform: scale(0); }
  .burger #bar3 {
    top: 18px;
    transition: transform 0.2s ease-in-out; }
  .burger .bar3-active {
    transform: matrix(0.91, -0.79, 0.66, 0.75, -1, -8); }

.section-header {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  background-color: #f6f6f6; }
  .section-header .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px; }
  .section-header-info {
    display: flex; }
    .section-header-info__item {
      display: flex;
      align-items: center; }
      .section-header-info__item + .section-header-info__item {
        margin-left: 39px; }
      .section-header-info__item-img {
        margin-right: 7px; }
        .section-header-info__item-img svg {
          display: block; }
      .section-header-info__item-text {
        font-size: 12px;
        text-transform: capitalize; }
  .section-header-buttons .button + .button {
    margin-left: 9px; }
  .section-header-registration {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .section-header-registration__tel {
      display: flex;
      align-items: center; }
      .section-header-registration__tel-img {
        margin-right: 14px; }
        .section-header-registration__tel-img svg {
          display: block; }
      .section-header-registration__tel-text {
        color: #205CA8;
        font-size: 25px;
        font-weight: 700;
        text-decoration: none; }
        .section-header-registration__tel-text:hover {
          text-decoration: underline; }
    .section-header-registration__callback {
      color: #205CA8; }
  .section-header .map-mark {
    width: 14px;
    height: 19px; }
  .section-header .clock {
    width: 14px;
    height: 14px; }
  .section-header .tel {
    width: 17px;
    height: 17px; }
  .section-header .button {
    padding: 14px 33px; }
  @media (max-width: 1300px) {
    .section-header-info {
      flex-direction: column; }
      .section-header-info__item + .section-header-info__item {
        margin-top: 10px;
        margin-left: 0px; }
      .section-header-info__item-img {
        margin-right: 7px; }
        .section-header-info__item-img svg {
          display: block; }
      .section-header-info__item-text {
        font-size: 12px;
        text-transform: capitalize; } }
  @media (max-width: 1220px) {
    .section-header {
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0); }
      .section-header .section-inner {
        flex-direction: column;
        align-items: flex-end; }
      .section-header-info {
        margin-top: 10px;
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
        .section-header-info__item + .section-header-info__item {
          margin-top: 10px;
          margin-left: 0px; }
        .section-header-info__item-img {
          margin-right: 7px; }
          .section-header-info__item-img svg {
            display: block; }
        .section-header-info__item-text {
          font-size: 12px;
          text-transform: capitalize; }
      .section-header-buttons {
        display: none; } }

.section-links {
  padding: 9px 0; }
  .section-links .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .section-links-nav__item {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #443e3e; }
    .section-links-nav__item + .section-links-nav__item {
      margin-left: 50px; }
    .section-links-nav__item:hover:before {
      transform: translateX(50%) scale(1); }
    .section-links-nav__item:before {
      content: '';
      position: absolute;
      bottom: -3px;
      right: 50%;
      width: 100%;
      height: 2px;
      background-color: #000;
      transform-origin: center;
      transform: translateX(50%) scale(0);
      transition: 0.2s; }
  @media (max-width: 1220px) {
    .section-links .section-inner {
      flex-direction: column;
      align-items: flex-end; }
    .section-links-logo {
      display: none; }
    .section-links-nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      .section-links-nav__item {
        transform: translateX(300px);
        font-size: 18px;
        font-weight: 600;
        transition-delay: 0.2s;
        transition: transform 0.2s ease-in-out; }
        .section-links-nav__item + .section-links-nav__item {
          margin-top: 20px;
          margin-left: 0px; } }

.section-first-block #first-block-slider .slide {
  position: relative; }
  .section-first-block #first-block-slider .slide-content {
    position: absolute;
    top: 50%;
    left: 36px;
    transform: translateY(-50%);
    color: #ffffff; }
    .section-first-block #first-block-slider .slide-content__title {
      font-family: 'Helvetica-Neue-Consended';
      margin-bottom: 16px;
      width: 30%;
      font-size: 60px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase; }
    .section-first-block #first-block-slider .slide-content__description {
      width: 38%;
      margin-bottom: 30px;
      font-weight: 300;
      font-size: 15px;
      line-height: 1.2; }
    .section-first-block #first-block-slider .slide-content__price {
      display: flex;
      position: relative;
      margin-left: 10px; }
      .section-first-block #first-block-slider .slide-content__price-text {
        position: relative;
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase; }
        .section-first-block #first-block-slider .slide-content__price-text span {
          position: relative;
          z-index: 10; }
        .section-first-block #first-block-slider .slide-content__price-text:after {
          content: '';
          position: absolute;
          top: -8%;
          left: -3%;
          z-index: 1;
          width: 106%;
          height: 116%;
          background-color: #205CA8; }

@media (max-width: 1110px) {
  .section-first-block #first-block-slider .slide {
    position: relative; }
    .section-first-block #first-block-slider .slide-content__title {
      margin-bottom: 10px;
      width: 40%;
      font-size: 50px; }
    .section-first-block #first-block-slider .slide-content__description {
      width: 48%;
      margin-bottom: 20px;
      font-size: 14px; }
    .section-first-block #first-block-slider .slide-content__price-text {
      font-size: 50px; } }

@media (max-width: 880px) {
  .section-first-block #first-block-slider .slide {
    position: relative; }
    .section-first-block #first-block-slider .slide-content__title {
      margin-bottom: 10px;
      width: 70%;
      font-size: 45px; }
    .section-first-block #first-block-slider .slide-content__description {
      width: 50%;
      margin-bottom: 20px;
      font-size: 14px; }
    .section-first-block #first-block-slider .slide-content__price-text {
      font-size: 45px; } }

@media (max-width: 730px) {
  .section-first-block #first-block-slider .slide {
    position: relative; }
    .section-first-block #first-block-slider .slide-content__title {
      margin-bottom: 10px;
      width: 70%;
      font-size: 35px; }
    .section-first-block #first-block-slider .slide-content__description {
      display: none; }
    .section-first-block #first-block-slider .slide-content__price-text {
      font-size: 35px; } }

@media (max-width: 470px) {
  .section-first-block #first-block-slider .slide {
    background-color: #bbc4e0;
    min-height: 250px; }
    .section-first-block #first-block-slider .slide img {
      opacity: 0; }
    .section-first-block #first-block-slider .slide-content {
      top: 45%;
      left: 15px;
      padding-right: 15px; }
      .section-first-block #first-block-slider .slide-content__title {
        font-size: 35px; }
      .section-first-block #first-block-slider .slide-content__price-text:after {
        left: -5%;
        width: 110%; } }

.section-advantages {
  padding: 43px 0 55px 0;
  background: url("../img/advantages/background.jpg") no-repeat center;
  background-size: cover; }
  .section-advantages .section-inner {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section-advantages-items {
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  .section-advantages-item {
    margin-top: 32px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-advantages-item__img {
      margin-bottom: 24px; }
    .section-advantages-item__text {
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      color: #fff; }
  .section-advantages .title {
    font-size: 32px;
    color: #fff; }
  @media (max-width: 992px) {
    .section-advantages-items {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center; }
    .section-advantages-item__img {
      margin-bottom: 24px; }
    .section-advantages-item__text {
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      color: #fff; }
    .section-advantages .title {
      font-size: 27px; } }
  @media (max-width: 600px) {
    .section-advantages {
      padding: 25px 0 25px 0; }
      .section-advantages-item {
        margin-top: 25px; }
        .section-advantages-item__img {
          margin-bottom: 14px;
          width: 54px; }
          .section-advantages-item__img img {
            width: 100%;
            height: auto; }
        .section-advantages-item__text {
          font-size: 17px; }
      .section-advantages .title {
        font-size: 25px; } }

.section-services {
  padding-top: 53px; }
  .section-services .title {
    margin-bottom: 34px;
    font-size: 30px; }
  .section-services #services-slider .owl-dots {
    display: none; }
  .section-services #services-slider .slide {
    padding: 30px 55px 19px 24px;
    border-radius: 8px;
    background: linear-gradient(180deg, #2159A6 0%, #0197DC 100%); }
    .section-services #services-slider .slide-headline {
      justify-content: center;
      display: flex;
      align-items: center;
      margin-bottom: 36px;
      padding-bottom: 18px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.24); }
      .section-services #services-slider .slide-headline__img {
        margin-right: 12px; }
      .section-services #services-slider .slide-headline__title {
        font-size: 20px;
        font-weight: 700;
        color: #F9ED37; }
    .section-services #services-slider .slide-description {
      margin-bottom: 100px;
      font-size: 15px;
      color: #FFFFFF;
      font-weight: 300; }
    .section-services #services-slider .slide-price-and-link {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .section-services #services-slider .slide-price {
      font-size: 18px;
      font-weight: 700;
      color: #F9ED37; }
    .section-services #services-slider .slide .link-arrow {
      width: 65px;
      height: 9px; }
  .section-services-buttons {
    margin-top: 39px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .section-services-buttons .button {
      padding: 20px 33px; }
      .section-services-buttons .button:first-child {
        margin-right: 54px; }
  .section-services .tooth {
    width: 36px;
    height: 36px; }
  @media (max-width: 1200px) {
    .section-services #services-slider .owl-dots {
      display: none; }
    .section-services #services-slider .slide {
      padding: 30px 55px 19px 24px; }
      .section-services #services-slider .slide-headline {
        margin-bottom: 20px;
        padding-bottom: 13px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.24); }
        .section-services #services-slider .slide-headline__img {
          margin-right: 10px; }
        .section-services #services-slider .slide-headline__title {
          font-size: 17px;
          font-weight: 700; }
      .section-services #services-slider .slide-description {
        margin-bottom: 40px;
        font-size: 14px; } }
  @media (max-width: 565px) {
    .section-services-buttons {
      margin-top: 30px;
      flex-direction: column; }
      .section-services-buttons .button:first-child {
        margin-right: 0;
        margin-bottom: 20px; } }
  @media (max-width: 600px) {
    .section-services .title {
      font-size: 25px; } }

.section-discounts {
  padding-top: 21px;
  padding-bottom: 69px; }
  .section-discounts .title {
    font-size: 25px;
    margin-bottom: 31px; }
  .section-discounts .slide {
    padding: 10px 0;
    position: relative;
    transform-origin: center;
    transition: 0.2s ease-in-out; }
    .section-discounts .slide:hover {
      transform: scale(1.05); }
      .section-discounts .slide:hover .slide-img {
        position: relative; }
        .section-discounts .slide:hover .slide-img:before {
          opacity: 0.3; }
    .section-discounts .slide-img {
      position: relative; }
      .section-discounts .slide-img:before {
        position: absolute;
        top: 0;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background-color: #000;
        opacity: 0.43;
        transition: 0.2s ease-in-out; }
    .section-discounts .slide .slide-text {
      font-family: 'Helvetica-Neue-Consended';
      position: absolute;
      bottom: 37px;
      left: 30px;
      max-width: 168px;
      width: 100%;
      font-weight: bold;
      font-size: 25px;
      text-transform: uppercase;
      color: #fff; }
  @media (max-width: 958px) {
    .section-discounts {
      padding-bottom: 50px; } }
  @media (max-width: 908px) {
    .section-discounts .title {
      font-size: 25px;
      margin-bottom: 31px; }
    .section-discounts .slide .slide-text {
      font-size: 23px; } }
  @media (max-width: 768px) {
    .section-discounts {
      padding-bottom: 30px; } }
  @media (max-width: 600px) {
    .section-discounts .title {
      font-size: 25px; } }

.section-description {
  padding-top: 52px;
  padding-bottom: 60px;
  background: linear-gradient(180deg, #205AA7 0%, #0492D8 100%);
  color: #fff; }
  .section-description .section-inner {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .section-description-content {
    max-width: 50%;
    margin-right: 30px; }
  .section-description__title {
    font-family: 'Helvetica-Neue-Consended';
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 700; }
    .section-description__title span {
      text-transform: uppercase;
      font-size: 46px;
      line-height: 1.5; }
  .section-description__text {
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 300; }
    .section-description__text p {
      margin-bottom: 25px; }
      .section-description__text p:last-child {
        margin-bottom: 0; }
      .section-description__text p:first-child {
        width: 72%; }
  .section-description__button {
    margin-bottom: 12px;
    padding: 11px 17px;
    border: none;
    outline: none;
    color: #2B74B9;
    cursor: pointer; }
  .section-description-slider {
    max-width: 530px; }
    .section-description-slider #description-slider .slide {
      position: relative;
      width: 530px;
      height: 275px; }
      .section-description-slider #description-slider .slide-video-placeholder {
        position: absolute;
        top: 0;
        z-index: 1; }
    .section-description-slider .menuSlider {
      display: flex;
      justify-content: center;
      margin-top: 20px; }
      .section-description-slider .menuSlider-item {
        margin-right: 13px; }
        .section-description-slider .menuSlider-item:last-child {
          margin-right: 0; }
    .section-description-slider .owl-carousel .owl-video-play-icon {
      position: absolute;
      height: 68px;
      width: 250px;
      left: 8px;
      bottom: 8px;
      background: url("../img/description/Play.svg") no-repeat;
      cursor: pointer;
      z-index: 1;
      -webkit-backface-visibility: hidden;
      transition: transform 100ms ease; }
      .section-description-slider .owl-carousel .owl-video-play-icon svg {
        height: 68px;
        width: 68px; }
      .section-description-slider .owl-carousel .owl-video-play-icon:before {
        content: 'Познакомьтесь с клиникой за 3 минуты';
        position: relative;
        top: 25%;
        left: 88px;
        width: 100%;
        font-size: 18px;
        line-height: 1.15; }
    .section-description-slider .owl-theme .owl-nav.disabled + .owl-dots {
      position: absolute;
      bottom: -148px;
      left: 50%;
      transform: translateX(-50%); }
    .section-description-slider .owl-theme .owl-dots .owl-dot.active span, .section-description-slider .owl-theme .owl-dots .owl-dot:hover span {
      background: white;
      opacity: 1; }
    .section-description-slider .button-play {
      position: absolute;
      bottom: 8px;
      left: 8px;
      width: 68px;
      height: 68px; }
    .section-description-slider .start-video-title {
      position: absolute;
      bottom: 15px;
      left: 103px;
      max-width: 231px;
      font-size: 18px; }
  @media (max-width: 940px) {
    .section-description .section-inner {
      flex-direction: column; }
    .section-description-slider {
      margin-top: 30px;
      max-width: 700px;
      width: 100%; }
      .section-description-slider #description-slider .slide {
        position: relative;
        max-width: 700px;
        width: 100%;
        height: 275px; }
        .section-description-slider #description-slider .slide-video-placeholder {
          position: absolute;
          top: 0;
          z-index: 1; }
    .section-description-content {
      flex-direction: column;
      text-align: center;
      max-width: 100%;
      margin-right: 0; }
    .section-description__title {
      margin-bottom: -5px; }
    .section-description__text p:first-child {
      width: 100%; } }
  @media (max-width: 542px) {
    .section-description {
      padding-top: 30px;
      padding-bottom: 30px; }
      .section-description-slider {
        display: none; } }
  @media (max-width: 600px) {
    .section-description .title {
      font-size: 25px; } }

.section-team .title {
  margin-top: 30px;
  margin-bottom: 34px;
  font-size: 25px; }

.section-team .section-inner {
  display: flex;
  flex-direction: column; }

.section-team-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.section-team-item {
  margin-bottom: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 172px;
  text-align: center; }
  .section-team-item__img {
    margin-bottom: 19px; }
  .section-team-item__name {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    color: #1E5EAB; }
  .section-team-item__profession {
    font-size: 12px;
    font-weight: 500;
    color: #999999; }

.section-team .button {
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px 33px; }

@media (max-width: 600px) {
  .section-team .title {
    font-size: 25px; } }

.section-rating {
  padding-top: 50px;
  padding-bottom: 105px; }
  .section-rating .title {
    font-size: 25px; }
  .section-rating .section-inner {
    display: flex;
    flex-direction: column; }
  .section-rating-items {
    display: flex;
    justify-content: center; }
  .section-rating-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    margin-top: 36px; }
    .section-rating-item:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      height: 74px;
      width: 1px;
      background-color: #cac7c7;
      transform: translateY(-50%); }
    .section-rating-item:last-child::after {
      display: none; }
    .section-rating-item__rating {
      font-family: 'Helvetica-Neue-Consended';
      font-size: 16px;
      font-weight: 400; }
      .section-rating-item__rating span {
        color: #69a042; }
  .section-rating #recommended,
  .section-rating #flamp {
    max-width: 266px;
    width: 100%; }
  .section-rating #zoon {
    max-width: 206px;
    width: 100%; }
  .section-rating #gis {
    max-width: 206px;
    width: 100%; }
  .section-rating #google {
    max-width: 206px;
    width: 100%; }
  .section-rating #yandex {
    max-width: 206px;
    width: 100%; }
  .section-rating .button {
    margin: 0 auto;
    margin-top: 52px;
    padding: 20px 33px; }
  @media (max-width: 1330px) {
    .section-rating-items {
      flex-wrap: wrap; }
    .section-rating-item {
      padding: 0 15px; }
      .section-rating-item:after {
        display: none; } }
  @media (max-width: 580px) {
    .section-rating-items {
      align-items: center;
      flex-direction: column; } }
  @media (max-width: 600px) {
    .section-rating .title {
      font-size: 25px; } }

.section-partners {
  padding-bottom: 79px; }
  .section-partners .title {
    font-size: 25px;
    margin-bottom: 40px; }
  .section-partners #partners-slider .slide {
    min-width: 194px;
    min-height: 60px;
    background-color: #C4C4C4; }
  @media (max-width: 600px) {
    .section-partners .title {
      font-size: 25px; } }

.section-footer {
  padding-bottom: 37px; }
  .section-footer .section-inner {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .section-footer__content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px; }
  .section-footer-addresses {
    display: flex;
    flex-direction: column; }
    .section-footer-addresses__tel {
      margin-bottom: 7px;
      font-size: 20px;
      font-weight: 700;
      color: #443e3e;
      text-decoration: none; }
      .section-footer-addresses__tel:hover {
        text-decoration: underline; }
    .section-footer-addresses__callback {
      margin-bottom: 42px;
      font-size: 12px;
      font-weight: 700;
      color: #004DC0;
      cursor: pointer; }
    .section-footer-addresses__address {
      display: flex;
      flex-direction: column;
      margin-bottom: 29px;
      font-size: 14px;
      font-weight: 500; }
      .section-footer-addresses__address span {
        font-size: 12px;
        color: #004DC0;
        cursor: pointer; }
        .section-footer-addresses__address span:hover {
          text-decoration: underline; }
    .section-footer-addresses__email {
      display: flex;
      flex-direction: column;
      margin-bottom: 14px;
      font-size: 14px;
      font-weight: 400; }
      .section-footer-addresses__email a {
        font-weight: 500;
        color: #004dc0;
        text-decoration: none; }
        .section-footer-addresses__email a:hover {
          text-decoration: underline; }
    .section-footer-addresses__license {
      font-size: 15px; }
      .section-footer-addresses__license a {
        color: #443e3e; }
  .section-footer-title {
    font-family: 'Gilroy';
    margin-bottom: 22px;
    font-size: 26px;
    font-weight: 600; }
  .section-footer__links {
    display: flex;
    flex-direction: column; }
  .section-footer__link {
    position: relative;
    margin-bottom: 15px;
    color: #443e3e;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none; }
    .section-footer__link:hover {
      text-decoration: underline; }
  .section-footer-copyright {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400; }
  @media (max-width: 990px) {
    .section-footer {
      padding-bottom: 25px; }
      .section-footer__content {
        flex-direction: column;
        align-items: center; }
      .section-footer-addresses {
        margin-top: 20px;
        order: 10;
        text-align: center; }
        .section-footer-addresses__tel {
          margin-bottom: 1px;
          font-size: 20px;
          font-weight: 700; }
        .section-footer-addresses__callback {
          margin-bottom: 20px; }
        .section-footer-addresses__address {
          margin-bottom: 19px; }
        .section-footer-addresses__email {
          margin-bottom: 14px; }
      .section-footer-row {
        text-align: center; }
      .section-footer-title {
        font-family: 'Gilroy';
        margin-bottom: 10px;
        font-size: 26px;
        font-weight: 600; }
      .section-footer__links {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; }
        .section-footer__links .section-footer__link {
          margin-left: 15px;
          margin-right: 15px;
          white-space: nowrap; }
          .section-footer__links .section-footer__link:after {
            content: '';
            position: absolute;
            right: -15px;
            top: 50%;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #000; }
          .section-footer__links .section-footer__link:last-child::after {
            display: none; }
      .section-footer__link {
        margin-bottom: 12px; }
      .section-footer-copyright {
        margin-top: 15px;
        text-align: center; } }
  @media (max-width: 460px) {
    .section-footer-addresses {
      align-self: flex-start;
      text-align: start; }
      .section-footer-addresses__tel {
        margin-bottom: 1px;
        font-size: 20px;
        font-weight: 700; }
      .section-footer-addresses__callback {
        margin-bottom: 20px; }
      .section-footer-addresses__address {
        margin-bottom: 19px; }
      .section-footer-addresses__email {
        margin-bottom: 14px; } }
  @media (max-width: 600px) {
    .section-footer .title {
      font-size: 25px; } }
