@charset "UTF-8";
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-regular.eot");
  src: url("../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.ttf") format("truetype"), url("../fonts/gilroy-regular.svg#gilroy-regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Neue-Consended';
  src: url("../fonts/HelveticaNeue-CondensedBold.eot");
  src: local("☺"), url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff"), url("../fonts/HelveticaNeue-CondensedBold.ttf") format("truetype"), url("../fonts/HelveticaNeue-CondensedBold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-semibold.eot");
  src: url("../fonts/gilroy-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.ttf") format("truetype"), url("../fonts/gilroy-semibold.svg#gilroy-semibold") format("svg");
  font-weight: 600;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Helvetica-Neue';
  color: #443e3e; }

img {
  display: block; }

.section-inner {
  margin: 0 auto;
  max-width: 1330px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

.button {
  font-family: 'Helvetica-Neue-Consended';
  border: none;
  border-radius: 27px;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  font-stretch: expanded;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer; }
  .button--blue {
    background-color: #205CA8; }
  .button--blue-lighter {
    background-color: #0295DA; }

.title {
  font-family: 'Helvetica-Neue-Consended';
  font-weight: 700;
  text-transform: uppercase; }
  .title--white {
    color: #fff; }
  .title--blue {
    color: #205CA8; }

.section-header {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  background-color: #f6f6f6; }
  .section-header .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px; }
  .section-header-info {
    display: flex; }
    .section-header-info__item {
      display: flex;
      align-items: center; }
      .section-header-info__item + .section-header-info__item {
        margin-left: 39px; }
      .section-header-info__item-img {
        margin-right: 7px; }
        .section-header-info__item-img svg {
          display: block; }
      .section-header-info__item-text {
        font-size: 12px;
        text-transform: capitalize; }
  .section-header-buttons .button:first-child {
    margin-right: 20px; }
  .section-header-registration {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .section-header-registration__tel {
      display: flex;
      align-items: center; }
      .section-header-registration__tel-img {
        margin-right: 14px; }
        .section-header-registration__tel-img svg {
          display: block; }
      .section-header-registration__tel-text {
        color: #205CA8;
        font-size: 25px;
        font-weight: 700; }
    .section-header-registration__callback {
      color: #205CA8; }
  .section-header .map-mark {
    width: 14px;
    height: 19px; }
  .section-header .clock {
    width: 14px;
    height: 14px; }
  .section-header .tel {
    width: 17px;
    height: 17px; }
  .section-header .button {
    padding: 14px 33px; }

.section-links {
  padding: 9px 0; }
  .section-links .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .section-links-nav__item {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #443e3e; }
    .section-links-nav__item + .section-links-nav__item {
      margin-left: 50px; }

.section-first-block #first-block-slider .slide {
  position: relative; }
  .section-first-block #first-block-slider .slide-content {
    position: absolute;
    top: 50%;
    left: 36px;
    transform: translateY(-50%);
    color: #ffffff; }
    .section-first-block #first-block-slider .slide-content__title {
      font-family: 'Helvetica-Neue-Consended';
      margin-bottom: 16px;
      width: 30%;
      font-size: 60px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase; }
    .section-first-block #first-block-slider .slide-content__description {
      width: 38%;
      margin-bottom: 30px;
      font-weight: 300;
      font-size: 15px;
      line-height: 1.2; }
    .section-first-block #first-block-slider .slide-content__price {
      display: flex;
      position: relative;
      margin-left: 10px; }
      .section-first-block #first-block-slider .slide-content__price-text {
        position: relative;
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase; }
        .section-first-block #first-block-slider .slide-content__price-text span {
          position: relative;
          z-index: 10; }
        .section-first-block #first-block-slider .slide-content__price-text:after {
          content: '';
          position: absolute;
          top: -8%;
          left: -3%;
          z-index: 1;
          width: 106%;
          height: 116%;
          background-color: #205CA8; }

.section-advantages {
  padding: 43px 0 55px 0;
  background: url("../img/advantages/background.jpg") no-repeat center;
  background-size: cover; }
  .section-advantages .section-inner {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section-advantages-items {
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  .section-advantages-item {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-advantages-item + .section-advantages-item {
      margin-left: 80px; }
    .section-advantages-item__img {
      margin-bottom: 24px; }
    .section-advantages-item__text {
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      color: #fff; }
  .section-advantages .title {
    margin-bottom: 34px;
    font-size: 32px; }

.section-services {
  padding-top: 53px; }
  .section-services .title {
    margin-bottom: 34px;
    font-size: 30px; }
  .section-services #services-slider .owl-dots {
    display: none; }
  .section-services #services-slider .slide {
    padding: 30px 55px 19px 24px;
    border-radius: 8px;
    background: linear-gradient(180deg, #2159A6 0%, #0197DC 100%); }
    .section-services #services-slider .slide-headline {
      justify-content: center;
      display: flex;
      align-items: center;
      margin-bottom: 36px;
      padding-bottom: 18px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.24); }
      .section-services #services-slider .slide-headline__img {
        margin-right: 12px; }
      .section-services #services-slider .slide-headline__title {
        color: #F9ED37; }
    .section-services #services-slider .slide-description {
      margin-bottom: 100px;
      font-size: 15px;
      color: #FFFFFF;
      font-weight: 300; }
    .section-services #services-slider .slide-price-and-link {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .section-services #services-slider .slide-price {
      font-size: 18px;
      font-weight: 700;
      color: #F9ED37; }
    .section-services #services-slider .slide .link-arrow {
      width: 65px;
      height: 9px; }
  .section-services-buttons {
    margin-top: 39px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .section-services-buttons .button {
      padding: 20px 33px; }
      .section-services-buttons .button:first-child {
        margin-right: 54px; }
  .section-services .tooth {
    width: 36px;
    height: 36px; }

.section-discounts {
  padding-top: 31px;
  padding-bottom: 79px; }
  .section-discounts .title {
    font-size: 25px;
    margin-bottom: 31px; }
  .section-discounts .slide {
    position: relative; }
    .section-discounts .slide:before {
      position: absolute;
      top: 0;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background-color: #000;
      opacity: 0.43; }
    .section-discounts .slide:hover {
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25)); }
    .section-discounts .slide .slide-text {
      font-family: 'Helvetica-Neue-Consended';
      position: absolute;
      bottom: 37px;
      left: 30px;
      max-width: 168px;
      width: 100%;
      font-weight: bold;
      font-size: 25px;
      text-transform: uppercase;
      color: #fff; }

.section-description {
  padding-top: 52px;
  padding-bottom: 60px;
  background: linear-gradient(180deg, #205AA7 0%, #0492D8 100%);
  color: #fff; }
  .section-description .section-inner {
    display: flex;
    justify-content: space-between; }
  .section-description-content {
    max-width: 50%;
    min-width: 50%; }
  .section-description__title {
    font-family: 'Helvetica-Neue-Consended';
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 700; }
    .section-description__title span {
      text-transform: uppercase;
      font-size: 46px;
      line-height: 1.5; }
  .section-description__text {
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 300; }
    .section-description__text p {
      margin-bottom: 25px; }
      .section-description__text p:last-child {
        margin-bottom: 0; }
      .section-description__text p:first-child {
        width: 72%; }
  .section-description__button {
    margin-bottom: 12px;
    padding: 11px 17px;
    border: none;
    outline: none;
    color: #2B74B9;
    cursor: pointer; }
  .section-description-slider {
    max-width: 530px; }
    .section-description-slider #description-slider .slide {
      position: relative;
      width: 530px;
      height: 275px; }
      .section-description-slider #description-slider .slide-video-placeholder {
        position: absolute;
        top: 0;
        z-index: 1; }
    .section-description-slider .owl-carousel .owl-video-play-icon {
      position: absolute;
      height: 68px;
      width: 250px;
      left: 8px;
      bottom: 8px;
      background: url("../img/description/Play.svg") no-repeat;
      cursor: pointer;
      z-index: 1;
      -webkit-backface-visibility: hidden;
      transition: transform 100ms ease; }
      .section-description-slider .owl-carousel .owl-video-play-icon svg {
        height: 68px;
        width: 68px; }
      .section-description-slider .owl-carousel .owl-video-play-icon:before {
        content: 'Познакомьтесь с клиникой за 3 минуты';
        position: relative;
        top: 25%;
        left: 88px;
        width: 100%;
        font-size: 18px;
        line-height: 1.15; }
    .section-description-slider .menuSlider {
      display: flex;
      justify-content: space-between;
      margin-top: 20px; }
    .section-description-slider .owl-theme .owl-nav.disabled + .owl-dots {
      position: absolute;
      bottom: -148px;
      left: 50%;
      transform: translateX(-50%); }
    .section-description-slider .owl-theme .owl-dots .owl-dot.active span, .section-description-slider .owl-theme .owl-dots .owl-dot:hover span {
      background: white;
      opacity: 1; }
    .section-description-slider .button-play {
      position: absolute;
      bottom: 8px;
      left: 8px;
      width: 68px;
      height: 68px; }
    .section-description-slider .start-video-title {
      position: absolute;
      bottom: 15px;
      left: 103px;
      max-width: 231px;
      font-size: 18px; }

.section-team .title {
  font-size: 25px;
  margin-bottom: 34px; }

.section-team .section-inner {
  display: flex;
  flex-direction: column; }

.section-team-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.section-team-item {
  margin-bottom: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 172px;
  text-align: center; }
  .section-team-item__img {
    margin-bottom: 19px; }
  .section-team-item__name {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    color: #1E5EAB; }
  .section-team-item__profession {
    font-size: 12px;
    font-weight: 500;
    color: #999999; }

.section-team .button {
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px 33px; }

.section-partners {
  padding-top: 50px;
  padding-bottom: 105px; }
  .section-partners .title {
    font-size: 25px;
    margin-bottom: 36px; }
  .section-partners .section-inner {
    display: flex;
    flex-direction: column; }
  .section-partners-items {
    display: flex;
    justify-content: space-between; }
  .section-partners-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    padding-right: 43px;
    margin-left: 41px; }
    .section-partners-item:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      height: 74px;
      width: 1px;
      background-color: #cac7c7;
      transform: translateY(-50%); }
    .section-partners-item:last-child {
      margin-right: 0; }
      .section-partners-item:last-child:after {
        display: none; }
    .section-partners-item:first-child {
      margin-left: 0; }
    .section-partners-item__rating {
      font-family: 'Helvetica-Neue-Consended';
      font-size: 16px;
      font-weight: 400; }
      .section-partners-item__rating span {
        color: #69a042; }
  .section-partners .button {
    margin: 0 auto;
    margin-top: 52px;
    padding: 20px 33px; }

.section-footer {
  padding-bottom: 37px; }
  .section-footer .section-inner {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .section-footer__content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px; }
  .section-footer-addresses {
    display: flex;
    flex-direction: column; }
    .section-footer-addresses__tel {
      margin-bottom: 7px;
      font-size: 20px;
      font-weight: 700; }
    .section-footer-addresses__callback {
      margin-bottom: 42px;
      font-size: 12px;
      font-weight: 700;
      color: #004DC0;
      cursor: pointer; }
    .section-footer-addresses__address {
      display: flex;
      flex-direction: column;
      margin-bottom: 29px;
      font-size: 14px;
      font-weight: 500; }
      .section-footer-addresses__address span {
        font-size: 12px;
        color: #004DC0;
        cursor: pointer; }
        .section-footer-addresses__address span:hover {
          text-decoration: underline; }
    .section-footer-addresses__email {
      display: flex;
      flex-direction: column;
      margin-bottom: 14px;
      font-size: 14px;
      font-weight: 400; }
      .section-footer-addresses__email a {
        font-weight: 500;
        color: #004dc0;
        text-decoration: none; }
        .section-footer-addresses__email a:hover {
          text-decoration: underline; }
    .section-footer-addresses__license {
      font-size: 15px; }
      .section-footer-addresses__license a {
        color: #443e3e; }
  .section-footer-title {
    font-family: 'Gilroy';
    margin-bottom: 22px;
    font-size: 26px;
    font-weight: 600; }
  .section-footer__links {
    display: flex;
    flex-direction: column; }
  .section-footer__link {
    margin-bottom: 15px;
    color: #443e3e;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none; }
    .section-footer__link:hover {
      text-decoration: underline; }
  .section-footer-copyright {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400; }
