// Varibales
$color-main: #443e3e;
$color-blue--lighter: #0295DA;
$color-blue: #205CA8;
// Variables
// ../fonts
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-regular.eot');
	src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gilroy-regular.woff2') format('woff2'),
		url('../fonts/gilroy-regular.woff') format('woff'),
		url('../fonts/gilroy-regular.ttf') format('truetype'),
		url('../fonts/gilroy-regular.svg#gilroy-regular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica-Neue';
	src: url('../fonts/HelveticaNeueCyr-Bold.eot');
	src: local('☺'), url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica-Neue';
	src: url('../fonts/HelveticaNeueCyr-Light.eot');
	src: local('☺'), url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica-Neue';
	src: url('../fonts/HelveticaNeueCyr-Medium.eot');
	src: local('☺'), url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica-Neue-Consended';
	src: url('../fonts/HelveticaNeue-CondensedBold.eot');
	src: local('☺'), url('../fonts/HelveticaNeue-CondensedBold.woff') format('woff'), url('../fonts/HelveticaNeue-CondensedBold.ttf') format('truetype'), url('../fonts/HelveticaNeue-CondensedBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica-Neue';
	src: url('../fonts/HelveticaNeueCyr-Roman.eot');
	src: local('☺'), url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Roman.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-semibold.eot');
	src: url('../fonts/gilroy-semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gilroy-semibold.woff2') format('woff2'),
		url('../fonts/gilroy-semibold.woff') format('woff'),
		url('../fonts/gilroy-semibold.ttf') format('truetype'),
		url('../fonts/gilroy-semibold.svg#gilroy-semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}
// ../fonts

// Mixins
@mixin font-gilroy {
    font-family: 'Gilroy';
}
@mixin font-helvetica-neue {
    font-family: 'Helvetica-Neue';
}
@mixin font-helvetica-neue-consended {
    font-family: 'Helvetica-Neue-Consended';
}
// /Mixins

// Common
* {
    box-sizing: border-box;
}

body {
    @include font-helvetica-neue;
    color: $color-main;
}

img {
	display: block;
}

.section-inner {
	margin: 0 auto;
    max-width: 1330px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.button {
	@include font-helvetica-neue-consended;
	border: none;
	border-radius: 27px;
	outline: none;
    font-size: 14px;
	font-weight: 700;
	font-stretch: expanded;
    text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;

	&--blue {
		background-color: $color-blue;
	}

	&--blue-lighter {
		background-color: $color-blue--lighter;
	}
}

.title {
	@include font-helvetica-neue-consended;
	font-weight: 700;
	text-transform: uppercase;

	&--white {
		color: #fff;
	}

	&--blue {
		color: $color-blue;
	}
}

.burger-background {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 70;
	width: 0;
	height: 100vh;
	background-color: #fff;
	transition: 0.2s ease-in-out;
	border-radius: 0% 100% 0% 100% / 30% 0% 100% 70% ;
}

.burger-background-width {
	@media (max-width: 1220px) {
		width: 300px;
	}
}
// /Common

// Header
.section-header-outer {
	&-button {
		display: none;
	}

	@media (max-width: 1220px) {
		width: 100%;
		&-wrapper {
			position: relative;
			display: flex;
			z-index: 10;
			justify-content: space-between;
			align-items: center;
			height: 60px;
		}

		&-button {
			display: block;
			margin-left: 15px;
			padding: 14px 33px;
		}

		.section-header {
			position: absolute;
			overflow: hidden;
			top: 370px;
			width: 100%;
			z-index: 100;

			&-registration {
				transition-delay: 0.2s;
				transition: transform 0.2s ease-in-out;
				transform: translateX(300px);
			}

			&-info {
				margin-bottom: 16px;
				transition-delay: 0.2s;
				transition: transform 0.2s ease-in-out;
				transform: translateX(300px);
			}
		}
		
		.section-links {
			visibility: hidden;
			position: absolute;
			overflow: hidden;
			top: 80px;
			z-index: 100;
			width: 100%;
			transition-delay: 0.2s;
		}

		.burger {
			position: relative;
			margin-right: 15px;
			display: block;
			z-index: 102;
			transform: translateY(-70%);
		}

		.visibility--visible {
			visibility: visible;
			transition-delay: 0s;
		}
		
	}
}

.burger {
	position: relative;
	display: none;
	align-self: flex-end;
	width: 32px;
	height: 24px;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	.bar {
		position: absolute;
		right: 0;
		width: 32px;
		height: 3px;
		background-color: #000;
	}

	#bar1 {
		top: 0;
		transition: transform 0.2s ease-in-out;
	}
	.bar1-active {
		transform:matrix(0.85,0.85,-0.71,0.71,-1,10);
	}

	
	#bar2 {
		top: 9px;
		transform-origin: center;
		transition: transform 0.1s ease-in-out;
	}
	.bar2-active {
		transform: scale(0);
	}
	
	#bar3 {
		top: 18px;
		transition: transform 0.2s ease-in-out;
	}

	.bar3-active {
		transform:matrix(0.91,-0.79,0.66,0.75,-1,-8);
	}
}

.section-header {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
	background-color: #f6f6f6;

    .section-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 15px;
	}
	
	&-info {
		display: flex;

		&__item {
			display: flex;
			align-items: center;
			
			& + & {
				margin-left: 39px;
			}

			&-img {
				margin-right: 7px;
				svg {
					display: block;
				}
			}

			&-text {
				font-size: 12px;
				text-transform: capitalize;
			}
		}
	}

	&-buttons {
		.button {
			&:first-child {
				margin-right: 20px;
			}
		}
	}
	
	&-registration {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		&__tel {
			display: flex;
			align-items: center;

			&-img {
				margin-right: 14px;
				svg {
					display: block;
				}
			}

			&-text {
				color: $color-blue;
				font-size: 25px;
				font-weight: 700;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__callback {
			color: $color-blue;
		}
	}
    .map-mark {
        width: 14px;
        height: 19px;
    }
    .clock {
        width: 14px;
        height: 14px;
	}
	
	.tel {
		width: 17px;
		height: 17px;
	}

	.button {
		padding: 14px 33px;
	}

	@media (max-width: 1220px) {
		box-shadow: none;
		background-color: rgba(0, 0, 0, 0);
		
		.section-inner {
			flex-direction: column;
			align-items: flex-end;
		}

		&-info {
			margin-top: 10px;
			order: 1;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
	
			&__item {

				& + & {
					margin-top: 10px;
					margin-left: 0px;
				}
	
				&-img {
					margin-right: 7px;
					svg {
						display: block;
					}
				}
	
				&-text {
					font-size: 12px;
					text-transform: capitalize;
				}
			}
		}

		&-buttons {
			display: none;
		}
	}
}

// Links
.section-links {
	padding: 9px 0;
	.section-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	&-nav {
		&__item {
			font-size: 15px;
			font-weight: 500;
			text-decoration: none;
			text-transform: uppercase;
			color: $color-main;

			& + & {
				margin-left: 50px;
			}
		}
	}

	@media (max-width: 1220px) {
		.section-inner {
			flex-direction: column;
			align-items: flex-end;
		}

		&-logo {
			display: none;
		}

		&-nav {
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			&__item {
				transform: translateX(300px);
				font-size: 18px;
				font-weight: 600;
				transition-delay: 0.2s;
				transition: transform 0.2s ease-in-out;
				& + & {
					margin-top: 20px;
					margin-left: 0px;
				}
			}
		}
	}
}
// /Links
// /Header

// First-block
.section-first-block {
	#first-block-slider {
		.slide {
			position: relative;

			&-content {
				position: absolute;
				top: 50%;
				left: 36px;
				transform: translateY(-50%);
				color: #ffffff;

				&__title {
					@include font-helvetica-neue-consended;
					margin-bottom: 16px;
					width: 30%;
					font-size: 60px;
					font-weight: 700;
					line-height: 1;
					text-transform: uppercase;
				}

				&__description {
					width: 38%;
					margin-bottom: 30px;
					font-weight: 300;
					font-size: 15px;
					line-height: 1.2;
				}

				&__price {
					display: flex;
					position: relative;
					margin-left: 10px;

					&-text {
						position: relative;
						font-size: 60px;
						font-weight: 700;
						text-transform: uppercase;

						span {
							position: relative;
							z-index: 10;
						}

						&:after {
							content: '';
							position: absolute;
							top: -8%;
							left: -3%;
							z-index: 1;
							width: 106%;
							height: 116%;
							background-color: $color-blue;
						}
					}

				}
			}
		}
	}

	@media (max-width: 1110px) {
		#first-block-slider {
			.slide {
				position: relative;
	
				&-content {
					&__title {
						margin-bottom: 10px;
						width: 40%;
						font-size: 50px;
					}
	
					&__description {
						width: 48%;
						margin-bottom: 20px;
						font-size: 14px;
					}
	
					&__price {
	
						&-text {
							font-size: 50px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 880px) {
		#first-block-slider {
			.slide {
				position: relative;
	
				&-content {
					&__title {
						margin-bottom: 10px;
						width: 70%;
						font-size: 45px;
					}
	
					&__description {
						width: 50%;
						margin-bottom: 20px;
						font-size: 14px;
					}
	
					&__price {
	
						&-text {
							font-size: 45px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 730px) {
		#first-block-slider {
			.slide {
				position: relative;
	
				&-content {
					&__title {
						margin-bottom: 10px;
						width: 70%;
						font-size: 35px;
					}
	
					&__description {
						display: none;
					}
	
					&__price {
	
						&-text {
							font-size: 35px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 470px) {
		#first-block-slider {
			.slide {
				background-color: #bbc4e0;
				min-height: 250px;

				img {
					opacity: 0;
				}
	
				&-content {
					top: 45%;
					left: 15px;
					padding-right: 15px;

					&__title {
						font-size: 35px;
					}
	
					&__price {
	
						&-text {
							&:after {
								left: -5%;
								width: 110%;
							}
						}
	
					}
				}
			}
		}
	}
}
// /First-block

// Advantages
.section-advantages {
	padding: 43px 0 55px 0;
	background: url('../img/advantages/background.jpg') no-repeat center;
	background-size: cover;

	.section-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&-items {
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}

	&-item {
		margin-top: 32px;
		width: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;

		&__img {
			margin-bottom: 24px;
		}

		&__text {
			text-align: center;
			font-weight: 600;
			font-size: 20px;
			color: #fff;
		}
	}

	.title {
		font-size: 32px;
	}

	@media (max-width: 992px) {
		&-items {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: center;
		}

		&-item {
	
			&__img {
				margin-bottom: 24px;
			}
	
			&__text {
				text-align: center;
				font-weight: 600;
				font-size: 20px;
				color: #fff;
			}
		}

		.title {
			font-size: 27px;
		}
	}

	@media (max-width: 600px) {
		padding: 25px 0 25px 0;

		&-item {
			margin-top: 25px;
	
			&__img {
				margin-bottom: 14px;
				width: 54px;

				img {
					width: 100%;
					height: auto;
				}
			}
	
			&__text {
				font-size: 17px;
			}
		}

		.title {
			font-size: 25px;
		}
	}
}
// /Advantages

// Services
.section-services {
	padding-top: 53px;
	.title {
		margin-bottom: 34px;
		font-size: 30px;
	}

	#services-slider {
		.owl-dots {
			display: none;
		}

		.slide {
			padding: 30px 55px 19px 24px;
			border-radius: 8px;
			background: linear-gradient(180deg, #2159A6 0%, #0197DC 100%);

			&-headline {
				justify-content: center;
				display: flex;
				align-items: center;
				margin-bottom: 36px;
				padding-bottom: 18px;
				border-bottom: 1px solid rgba(255, 255, 255, 0.24);

				&__img {
					margin-right: 12px;
				}

				&__title {
					font-size: 20px;
					font-weight: 700;
					color: #F9ED37;
				}
			}

			&-description {
				margin-bottom: 100px;
				font-size: 15px;
				color: #FFFFFF;
				font-weight: 300;
			}

			&-price-and-link {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			&-price {
				font-size: 18px;
				font-weight: 700;
				color: #F9ED37;
			}

			.link-arrow {
				width: 65px;
				height: 9px;
			}
		}
	}

	&-buttons {
		margin-top: 39px;
		display: flex;
		align-items: center;
		justify-content: center;

		.button {
			padding: 20px 33px;
			&:first-child {
				margin-right: 54px;
			}
		}
	}

	.tooth {
		width: 36px;
		height: 36px;
	}

	@media (max-width: 1200px) {
		#services-slider {
			.owl-dots {
				display: none;
			}
	
			.slide {
				padding: 30px 55px 19px 24px;
	
				&-headline {
					margin-bottom: 20px;
					padding-bottom: 13px;
					border-bottom: 1px solid rgba(255, 255, 255, 0.24);
	
					&__img {
						margin-right: 10px;
					}

					&__title {
						font-size: 17px;
						font-weight: 700;
					}
				}
	
				&-description {
					margin-bottom: 40px;
					font-size: 14px;
				}
			}
		}
	}

	@media (max-width: 565px) {
		&-buttons {
			margin-top: 30px;
			flex-direction: column;
	
			.button {
				&:first-child {
					margin-right: 0;
					margin-bottom: 20px;
				}
			}
		}
	}

	@media (max-width: 600px) {
		.title {
			font-size: 25px;
		}
	}
}
// /Services

// Discounts
.section-discounts {
	padding-top: 31px;
	padding-bottom: 79px;

	.title {
		font-size: 25px;
		margin-bottom: 31px;
	}

	.slide {
		position: relative;

		&:before {
			position: absolute;
			top: 0;
			content: '';
			width: 100%;
			height: 100%;
			border-radius: 15px;
			background-color: #000;
			opacity: 0.43;
		}

		&:hover {
			filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
		}

		.slide-text {
			@include font-helvetica-neue-consended;
			position: absolute;
			bottom: 37px;
			left: 30px;
			max-width: 168px;
			width: 100%;
			font-weight: bold;
			font-size: 25px;
			text-transform: uppercase;
			color: #fff;
		}
	}

	@media (max-width: 958px) {
		padding-bottom: 50px;
	}

	@media (max-width: 908px) {
		.title {
			font-size: 25px;
			margin-bottom: 31px;
		}
	
		.slide {
			.slide-text {
				font-size: 23px;
			}
		}
	}

	@media (max-width: 768px) {
		padding-bottom: 30px;
	}

	@media (max-width: 600px) {
		.title {
			font-size: 25px;
		}
	}
}
// /Discounts

// Description
.section-description {
	padding-top: 52px;
	padding-bottom: 60px;
	background: linear-gradient(180deg, #205AA7 0%, #0492D8 100%);
	color: #fff;

	.section-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-content {
		max-width: 50%;
		margin-right: 30px;
	}

	&__title {
		@include font-helvetica-neue-consended;
		margin-bottom: 30px;
		font-size: 26px;
		font-weight: 700;
		
		span {
			text-transform: uppercase;
			font-size: 46px;
			line-height: 1.5;
		}
	}

	&__text {
		margin-bottom: 25px;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 300;

		p {
			margin-bottom: 25px;

			&:last-child {
				margin-bottom: 0;
			}

			&:first-child {
				width: 72%;
			}
		}
	}

	&__button {
		margin-bottom: 12px;
		padding: 11px 17px;
		border: none;
		outline: none;
		color: #2B74B9;
		cursor: pointer;
	}

	&-slider {
		max-width: 530px;

		#description-slider {

			.slide {
				position: relative;
				width: 530px;
				height: 275px;

				&-video-placeholder {
					position: absolute;
					top: 0;
					z-index: 1;
				}
			}
		}

		.menuSlider {
			display: flex;
			justify-content: center;
			margin-top: 20px;

			&-item {
				margin-right: 13px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.owl-carousel .owl-video-play-icon {
			position: absolute;
			height: 68px;
			width: 250px;
			left: 8px;
			bottom: 8px;
			background: url("../img/description/Play.svg") no-repeat;
			cursor: pointer;
			z-index: 1;
			-webkit-backface-visibility: hidden;
			transition: transform 100ms ease;

			svg {
				height: 68px;
				width: 68px;
			}

			&:before {
				content: 'Познакомьтесь с клиникой за 3 минуты';
				position: relative;
				top: 25%;
				left: 88px;
				width: 100%;
				font-size: 18px;
				line-height: 1.15;
			}
		}

		.owl-theme .owl-nav.disabled + .owl-dots {
			position: absolute;
			bottom: -148px;
			left: 50%;
			transform: translateX(-50%);
		}

		.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
			background: rgba(255, 255, 255, 1);
			opacity: 1;
		}
		
		.button-play {
			position: absolute;
			bottom: 8px;
			left: 8px;
			width: 68px;
			height: 68px;
		}

		.start-video-title {
			position: absolute;
			bottom: 15px;
			left: 103px;
			max-width: 231px;
			font-size: 18px;
		}
	}

	@media (max-width: 940px) {
		.section-inner {
			flex-direction: column;
		}

		&-slider {
			margin-top: 30px;
			max-width: 700px;
			width: 100%;
	
			#description-slider {
	
				.slide {
					position: relative;
					max-width: 700px;
					width: 100%;
					height: 275px;
	
					&-video-placeholder {
						position: absolute;
						top: 0;
						z-index: 1;
					}
				}
			}
		}

		&-content {
			flex-direction: column;
			text-align: center;
			max-width: 100%;
			margin-right: 0;
		}
	
		&__title {
			margin-bottom: -5px;
		}
	
		&__text {
	
			p {
	
				&:first-child {
					width: 100%;
				}
			}
		}
	}

	@media (max-width: 540px) {
		padding-top: 30px;
		padding-bottom: 30px;
		&-slider {
			display: none;
		}
	}

	@media (max-width: 600px) {
		.title {
			font-size: 25px;
		}
	}
}
// /Description

// Team
.section-team {
	.title {
		margin-top: 30px;
		margin-bottom: 34px;
		font-size: 25px;
	}

	.section-inner {
		display: flex;
		flex-direction: column;
	}

	&-items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	&-item {
		margin-bottom: 33px;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 172px;
		text-align: center;

		&__img {
			margin-bottom: 19px;
		}

		&__name {
			margin-bottom: 15px;
			font-size: 16px;
			font-weight: 700;
			color: #1E5EAB;
		}

		&__profession {
			font-size: 12px;
			font-weight: 500;
			color: #999999;
		}
	}

	.button {
		margin: 0 auto;
		margin-top: 40px;
		padding: 20px 33px;
	}

	@media (max-width: 600px) {
		.title {
			font-size: 25px;
		}
	}
}
// /Team

// Partners
.section-partners {
	padding-top: 50px;
	padding-bottom: 105px;
	
	.title {
		font-size: 25px;
	}

	.section-inner {
		display: flex;
		flex-direction: column;
	}

	&-items {
		display: flex;
		justify-content: center;
	}

	&-item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 96px;
		margin-top: 36px;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			height: 74px;
			width: 1px;
			background-color: #cac7c7;
			transform: translateY(-50%);
		}

		&:last-child {
			&::after {
				display: none;
			}
		}

		&__rating {
			@include font-helvetica-neue-consended;
			font-size: 16px;
			font-weight: 400;
			span {
				color: #69a042;
			}
		}
	}
	
	#recommended,
	#flamp {
		max-width: 266px;
		width: 100%;
	}

	#zoon {
		max-width: 206px;
		width: 100%;
	}
	#gis {
		max-width: 206px;
		width: 100%;
	}
	#google {
		max-width: 206px;
		width: 100%;
	}
	#yandex {
		max-width: 206px;
		width: 100%;
	}
	
	.button {
		margin: 0 auto;
		margin-top: 52px;
		padding: 20px 33px;
	}

	@media (max-width: 1330px) {
		&-items {
			flex-wrap: wrap;
		}
		&-item {
			padding: 0 15px;
			&:after {
				display: none;
			}
		}
	}

	@media (max-width: 580px) {
		&-items {
			align-items: center;
			flex-direction: column;
		}
	}

	@media (max-width: 600px) {
		.title {
			font-size: 25px;
		}
	}
}
// /Partners

// Footer
.section-footer {
	padding-bottom: 37px;
	.section-inner {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

	&__content {
		display: flex;
		justify-content: space-between;
		padding-top: 50px;
	}

	&-addresses {
		display: flex;
		flex-direction: column;

		&__tel {
			margin-bottom: 7px;
			font-size: 20px;
			font-weight: 700;
			color: $color-main;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		&__callback {
			margin-bottom: 42px;
			font-size: 12px;
			font-weight: 700;
			color: #004DC0;
			cursor: pointer;
		}

		&__address {
			display: flex;
			flex-direction: column;
			margin-bottom: 29px;
			font-size: 14px;
			font-weight: 500;

			span {
				font-size: 12px;
				color: #004DC0;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__email {
			display: flex;
			flex-direction: column;
			margin-bottom: 14px;
			font-size: 14px;
			font-weight: 400;

			a {
				font-weight: 500;
				color: #004dc0;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__license {
			font-size: 15px;
			a {
				color: $color-main;
			}
		}
	}

	&-title {
		@include font-gilroy;
		margin-bottom: 22px;
		font-size: 26px;
		font-weight: 600;
	}

	&__links {
		display: flex;
		flex-direction: column;
	}

	&__link {
		position: relative;
		margin-bottom: 15px;
		color: $color-main;
		font-size: 15px;
		font-weight: 500;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&-copyright {
		margin-top: 10px;
		font-size: 12px;
		font-weight: 400;
	}

	@media (max-width: 990px) {
		padding-bottom: 25px;
		&__content {
			flex-direction: column;
			align-items: center;
		}

		&-addresses {
			margin-top: 20px;
			order: 10;
			text-align: center;

			&__tel {
				margin-bottom: 1px;
				font-size: 20px;
				font-weight: 700;
			}

			&__callback {
				margin-bottom: 20px;
			}

			&__address {
				margin-bottom: 19px;
			}
	
			&__email {
				margin-bottom: 14px;
			}
		}

		&-row {
			text-align: center;
		}

		&-title {
			@include font-gilroy;
			margin-bottom: 10px;
			font-size: 26px;
			font-weight: 600;
		}

		&__links {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;

			.section-footer__link {
				margin-left: 15px;
				margin-right: 15px;
				white-space: nowrap;

				&:after {
					content: '';
					position: absolute;
					right: -15px;
					top: 50%;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background-color: #000;
				}

				&:last-child {
					&::after {
						display: none;
					}
				}
			}
		}

		&__link {
			margin-bottom: 12px;
		}

		&-copyright {
			margin-top: 15px;
			text-align: center;
		}
	}

	@media (max-width: 460px) { 
		&-addresses {
			align-self: flex-start;
			text-align: start;

			&__tel {
				margin-bottom: 1px;
				font-size: 20px;
				font-weight: 700;
			}

			&__callback {
				margin-bottom: 20px;
			}

			&__address {
				margin-bottom: 19px;
			}
	
			&__email {
				margin-bottom: 14px;
			}
		}
	}

	@media (max-width: 600px) {
		.title {
			font-size: 25px;
		}
	}
}
// /Footer
